/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  text-align: center;
}
nav {
  background-color: #333;
  margin-top: 0;
}
nav ul {
  list-style-type: none;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
.active {
  color: #a4f7a6;
  text-decoration: none;
  font-weight: 600;
}
section {
  padding: 20px;
}

.about,
.explore {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.info {
  width: 60%;
}
.video {
  width: 60%;
  padding: 10px;
}

.destinations ul {
  display: flex;
  justify-content: space-between;
}
.destinations li {
  padding: 40px;
  background-color: antiquewhite;
  border-radius: 20px;
}
li {
  list-style: none;
}
.tips ul li {
  background-color: rgb(248, 243, 237);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
}
